<ion-header [translucent]="true">
  <app-toolbar title="Sign up"></app-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <app-toolbar title="Sign up"></app-toolbar>
  </ion-header>
  <form [formGroup]="signUpForm" (ngSubmit)="onSubmit()">
    <app-username-input [control]="signUpForm.controls.username"></app-username-input>
    <app-email-input [control]="signUpForm.controls.email"></app-email-input>
    <app-password-input [control]="signUpForm.controls.password"></app-password-input>
    <app-password-input [control]="signUpForm.controls.passwordConfirmation"></app-password-input>
    <app-profile-photo-input [control]="signUpForm.controls.profilePhoto"></app-profile-photo-input>
    <p>If you already have an account, <a routerLink="/sign-in">LOG IN HERE</a></p>
    <ion-button (click)="navigateToHome()">Cancel</ion-button>
    <ion-button type="submit" [disabled]="signUpForm.invalid">Sign up</ion-button>
  </form>
</ion-content>
