a {
  text-decoration: none;
  font-weight: bold;
}

.inputs-col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 12px;

  *:not(app-profile-photo-input) {
    margin: 12px 0;
    width: 100%;
  }
}

ion-label {
  display: block;
  width: 100%;
}
