ion-segment {
  position: fixed;
  width: 100%;
  z-index: 999;
}

ion-segment {
  --background: var(--ion-toolbar-background);
}

ion-grid {
  margin-top: 50px;
}

ion-fab {
  position: fixed;
}

ion-col:last-child {
  margin-bottom: 248px;
}
