<div #segmentsToolbar>
  <ion-toolbar>
    <ion-segment [value]="showFavouritesOnly">
      <ion-segment-button [value]="false" (click)="onShowFavouritesOnlyChanged(false)">
        All
      </ion-segment-button>
      <ion-segment-button [value]="true" (click)="onShowFavouritesOnlyChanged(true)">
        Favourites
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</div>

<ion-grid [ngStyle]="{marginTop: segmentsToolbar.style.height}">
  <ion-row>
    <ion-col size="12" size-sm="6" size-lg="4" size-xl="3" *ngFor="let note of userNotes$ | async">
      <app-note [note]="note"></app-note>
    </ion-col>
  </ion-row>
</ion-grid>

<ion-fab vertical="bottom" horizontal="end" slot="fixed" class="ion-margin">
  <ion-fab-button
    class="ion-margin"
    color="tertiary"
    (click)="revertNotesOrder()"
    [disabled]="((userNotes$ | async)?.length ?? 0) < 2"
  >
    <ion-icon name="swap-vertical"></ion-icon>
  </ion-fab-button>
  <ion-fab-button
    color="danger"
    [disabled]="!(userNotes$ | async)?.length"
    class="ion-margin"
    (click)="onNotesDeletionButtonClicked()"
  >
    <ion-icon name="trash"></ion-icon>
  </ion-fab-button>
  <ion-fab-button (click)="onAddNoteButtonClicked()" class="ion-margin">
    <ion-icon name="add"></ion-icon>
  </ion-fab-button>
</ion-fab>
