<app-profile-photo-input [control]="profilePhotoFormControl" [profilePhotoUrl]="profilePhotoUrl">
</app-profile-photo-input>
<ng-container *ngIf="profilePhotoFileChanged$ | async">
  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-button color="danger" (click)="onCancelButtonClicked()">Cancel</ion-button>
    </ion-row>
    <ion-row class="ion-justify-content-center">
      <ion-button
        color="success"
        (click)="onConfirmButtonClicked()"
        [disabled]="!profilePhotoFormControl.value"
      >Confirm</ion-button>
    </ion-row>
  </ion-grid>
</ng-container>
