<ion-header [translucent]="true">
  <app-toolbar title="Note editor"></app-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-row class="ion-justify-content-center ion-margin-top" *ngIf="note">
    <app-note-favourite-button [note]="note"></app-note-favourite-button>
    <ion-button class="ion-margin-horizontal" shape="round" id="open-details" color="tertiary">
      <strong>Details</strong>
    </ion-button>
    <app-note-deletion-button [note]="note"></app-note-deletion-button>
  </ion-row>
  <form [formGroup]="noteForm" (ngSubmit)="onSubmit()" class="ion-margin-bottom">
    <ion-grid>
      <ion-row class="ion-justify-content-center ion-margin">
        <ion-col size="12" sizeMd="10" sizeXl="8">
          <ion-textarea
            label="Title"
            labelPlacement="floating"
            placeholder="Type the note title here..."
            [errorText]="'The title must be less than ' + titleMaxLength + ' characters long'"
            formControlName="title"
            fill="outline"
            [autoGrow]="true"
            rows="3"
          ></ion-textarea>
        </ion-col>
      </ion-row>
      <ion-row class="ion-justify-content-center ion-margin">
        <ion-col size="12" sizeMd="10" sizeXl="8">
          <ion-textarea
            label="Content"
            labelPlacement="floating"
            placeholder="Type the content of the note here..."
            [errorText]="'The note cannot contain more than ' + contentMaxLength + ' characters'"
            formControlName="content"
            fill="outline"
            [autoGrow]="true"
            rows="10"
          ></ion-textarea>
        </ion-col>
      </ion-row>
      <ion-row class="ion-justify-content-center">
        <ion-button class="ion-margin" type="button" color="warning" (click)="onCancelButtonClicked()">Cancel</ion-button>
        <ion-button
          class="ion-margin"
          type="submit"
          [disabled]="!noteHasChanged() || noteForm.invalid"
        >Confirm</ion-button>
      </ion-row>
    </ion-grid>
  </form>

</ion-content>

<ion-modal #noteDetails *ngIf="note" trigger="open-details">
  <ng-template>
    <ion-header>
      <ion-toolbar>
        <ion-title size="large">Note details</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list lines="full" class="ion-margin">
        <ion-item>
          <ion-label><strong>Favourite:</strong></ion-label>
          <ion-badge [color]="note.isFavourite ? 'success' : 'danger'">{{note.isFavourite ? 'Yes' : 'No'}}</ion-badge>
        </ion-item>
        <ion-item>
          <ion-label><strong>Creation date:</strong></ion-label>
          {{note.creationTimestamp | date: 'medium'}}
        </ion-item>
        <ion-item>
          <ion-label><strong>Last update:</strong></ion-label>
          {{note.lastUpdateTimestamp | date: 'medium'}}
        </ion-item>
      </ion-list>
      <ion-row class="ion-justify-content-center">
        <ion-button (click)="noteDetails.dismiss()" color="tertiary">Back</ion-button>
      </ion-row>
    </ion-content>
  </ng-template>
</ion-modal>
