<ion-header [translucent]="true">
  <app-toolbar
    [displayOption]="displayOption"
    (displayOptionChanged)="onDisplayOptionChanged($event)"
  ></app-toolbar>
</ion-header>

<ion-content [fullscreen]="true" [ngSwitch]="userNotes?.length">
  <app-notes-grid [notes]="userNotes" [notesAreEditable]="true" [displayOption]="displayOption"></app-notes-grid>

  <ion-fab
    *ngIf="userNotes"
    vertical="bottom"
    horizontal="end"
    slot="fixed"
    [class.ion-margin]="!isNativePlatform"
  >
    <ion-fab-button
      class="ion-margin-bottom"
      color="tertiary"
      (click)="changeNotesOrder()"
      [disabled]="userNotes.length < 2"
    >
      <ion-icon name="swap-vertical"></ion-icon>
    </ion-fab-button>
    <ion-fab-button
      color="danger"
      [disabled]="userNotes.length === 0"
      class="ion-margin-vertical"
      (click)="onNotesDeletionButtonClicked()"
    >
      <ion-icon name="trash"></ion-icon>
    </ion-fab-button>
    <ion-fab-button (click)="onAddNoteButtonClicked()" class="ion-margin-top">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>

