<ion-header [translucent]="true">
  <app-toolbar title="Profile"></app-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <app-toolbar title="Profile"></app-toolbar>
  </ion-header>

  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-col size="12" size-md="10" size-lg="8" size-xl="6">
        <ion-card>
          <ion-card-header>
            <ion-row class="ion-justify-content-center">
              <app-profile-photo-modifier [profilePhotoUrl]="user$.value?.photoUrl"></app-profile-photo-modifier>
            </ion-row>
          </ion-card-header>
          <ion-card-content>
            <ion-list>
              <ion-item lines="full">
                <ion-label><strong>Username:</strong></ion-label>{{user$.value?.username}}
              </ion-item>
              <ion-item lines="full">
                <ion-label><strong>Email:</strong></ion-label>{{user$.value?.email}}
              </ion-item>
              <ion-item lines="full">
                <ion-label><strong>Account creation date:</strong></ion-label>
                {{user$.value?.creationTimestamp | date: 'medium'}}
              </ion-item>
              <ion-item lines="full">
                <ion-label><strong>Last log-in:</strong></ion-label>
                {{user$.value?.lastSignInTimestamp | date: 'medium'}}
              </ion-item>
              <ion-item lines="full">
                <ion-label><strong>Notes:</strong></ion-label>
                <ion-badge class="ion-padding-horizontal">{{userNotesQuantity$ | async}}</ion-badge>
              </ion-item>
              <ion-item lines="full">
                <ion-label><strong>Favourites:</strong></ion-label>
                <ion-badge color="success" class="ion-padding-horizontal">
                  {{userFavouriteNotesQuantity$ | async}}
                </ion-badge>
              </ion-item>
            </ion-list>
            <ion-row class="ion-justify-content-around ion-margin-top">
              <ion-button id="open-account-deletion-confirmation" color="danger">
                Delete account
              </ion-button>
              <ion-button
                color="tertiary"
                (click)="onRemoveProfilePhotoButtonClicked()"
                [disabled]="!user$.value?.photoUrl"
              >
                Remove profile photo
              </ion-button>
              <ion-button (click)="onSignOutButtonClicked()" color="warning">
                Log out
              </ion-button>
            </ion-row>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>

<app-delete-confirmation
  title="Are you sure you want to delete your account and all of your notes? This action cannot be undone."
  triggerButtonId="open-account-deletion-confirmation"
  (confirmationClosed)="onAccountDeletionConfirmationClosed($event)"
></app-delete-confirmation>
