<ion-header [translucent]="true">
  <app-toolbar title="Profile"></app-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid class="ion-margin-bottom">
    <ion-row class="ion-justify-content-center">
      <ion-col size="12" size-md="10" size-lg="8" size-xl="6">
          <ion-list lines="full">
            <ion-row class="ion-justify-content-center">
              <app-profile-photo-modifier [profilePhotoUrl]="user$.value?.photoUrl"></app-profile-photo-modifier>
            </ion-row>
            <ion-item>
              <ion-label><strong>Username:</strong></ion-label>{{user$.value?.username}}
            </ion-item>
            <ion-item>
              <ion-label><strong>Email:</strong></ion-label>{{user$.value?.email}}
            </ion-item>
            <ion-item>
              <ion-label><strong>Account creation:</strong></ion-label>
              {{user$.value?.creationTimestamp | date: 'medium'}}
            </ion-item>
            <ion-item>
              <ion-label><strong>Last log-in:</strong></ion-label>
              {{user$.value?.lastSignInTimestamp | date: 'medium'}}
            </ion-item>
            <ion-item>
              <ion-label><strong>Notes:</strong></ion-label>
              <ion-badge class="ion-padding-horizontal">{{userNotesQuantity$ | async}}</ion-badge>
            </ion-item>
            <ion-item>
              <ion-label><strong>Favourites:</strong></ion-label>
              <ion-badge color="success" class="ion-padding-horizontal">
                {{userFavouriteNotesQuantity$ | async}}
              </ion-badge>
            </ion-item>
            <ion-row class="ion-justify-content-around">
              <ion-button class="ion-margin-vertical" color="danger" (click)="onDeleteAccountButtonClicked()">
                Delete account
              </ion-button>
              <ion-button
                class="ion-margin-vertical"
                color="warning"
                (click)="onProfilePhotoRemovalButtonClicked()"
                [disabled]="!user$.value?.photoUrl"
              >
                Remove profile photo
              </ion-button>
              <ion-button class="ion-margin-vertical"  (click)="onSignOutButtonClicked()" color="tertiary">
                Log out
              </ion-button>
            </ion-row>
          </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
