<ion-header [translucent]="true">
  <app-toolbar title="Log in"></app-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <app-toolbar title="Log in"></app-toolbar>
  </ion-header>

  <form [formGroup]="signInForm" (ngSubmit)="onSubmit()">
    <app-email-input [control]="signInForm.controls.email"></app-email-input>
    <app-password-input [control]="signInForm.controls.password"></app-password-input>
    <p>If you have not created an account yet, <a routerLink="/sign-up">SIGN UP HERE</a></p>
    <ion-button (click)="navigateToHome()">Cancel</ion-button>
    <ion-button type="submit" [disabled]="signInForm.invalid">Log in</ion-button>
  </form>

</ion-content>
