<ion-header [translucent]="true">
  <app-toolbar title="Log in"></app-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <app-toolbar title="Log in"></app-toolbar>
  </ion-header>

  <form [formGroup]="signInForm" (ngSubmit)="onSubmit()">
    <ion-grid>
      <ion-row class="ion-justify-content-center">
        <ion-col size="12" size-sm="9" size-md="6" size-lg="5" size-xl="4" class="inputs-col">
          <app-email-input [control]="signInForm.controls.email"></app-email-input>
          <app-password-input [control]="signInForm.controls.password"></app-password-input>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-label class="ion-text-center ion-margin-vertical">
      If you have not created an account yet, <a routerLink="/sign-up">SIGN UP HERE</a>
    </ion-label>
    <ion-row class="ion-justify-content-center">
      <ion-button class="ion-margin-horizontal" type="reset" (click)="navigateToHome()" color="warning">
        Cancel
      </ion-button>
      <ion-button class="ion-margin-horizontal" type="submit" [disabled]="signInForm.invalid">
        Log in
      </ion-button>
    </ion-row>
  </form>

</ion-content>
