<ion-header [translucent]="true">
  <app-toolbar title="Notes"></app-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <app-toolbar title="Notes"></app-toolbar>
  </ion-header>

  <ng-container *ngIf="currentUser$ | async; else unauthenticated">
    <app-notes-grid></app-notes-grid>
  </ng-container>

  <ng-template #unauthenticated>
    <div id="all-container">
      <div id="message-container">
        <ion-title>Sign in or create an account to access your notes</ion-title>
        <div id="buttons-container">
          <ion-button routerLink="/sign-in">LOG IN</ion-button>
          <ion-button routerLink="/sign-up" color="tertiary">SIGN UP</ion-button>
        </div>
      </div>
    </div>
  </ng-template>

</ion-content>
