<ion-toolbar>
  <ion-buttons slot="start" [collapse]="true">
    <ion-button routerLink="/home">
      <ion-icon slot="icon-only" name="home" color="dark"></ion-icon>
    </ion-button>
  </ion-buttons>
  <ion-title *ngIf="title">{{title}}</ion-title>
  <ion-segment *ngIf="displayOption" [formControl]="displayOptionFormControl!">
    <ion-segment-button value="all">
      All
    </ion-segment-button>
    <ion-segment-button value="favourites">
      Favourites
    </ion-segment-button>
  </ion-segment>
  <ion-buttons slot="end" [collapse]="true">
    <ion-button routerLink="/profile">
      <ion-icon slot="icon-only" name="person" color="dark"></ion-icon>
    </ion-button>
  </ion-buttons>
  <ion-progress-bar *ngIf="showProgressBar" type="indeterminate" color="secondary"></ion-progress-bar>
</ion-toolbar>
