<ng-container [ngSwitch]="notes?.length">
  <ion-spinner *ngSwitchCase="undefined" name="lines" color="primary"></ion-spinner>
  <ion-title *ngSwitchCase="0" class="no-notes-message">
    {{displayOption === 'all' ? 'No notes yet' : 'No favourite notes yet'}}
  </ion-title>
  <ion-grid *ngSwitchDefault>
    <ion-row>
      <ion-col class="note-container" size="12" size-sm="6" size-lg="4" size-xl="3" *ngFor="let note of notes">
        <app-note [note]="note" [isEditable]="notesAreEditable"></app-note>
      </ion-col>
    </ion-row>
  </ion-grid>
</ng-container>
