<ion-card>
  <ion-card-header>
    <ion-card-subtitle>{{note.lastUpdateTimestamp | date}}</ion-card-subtitle>
  </ion-card-header>
  <ion-card-content>
    <ion-card-title>{{note.title}}</ion-card-title>
  </ion-card-content>
  <ion-row class="ion-justify-content-around">
    <ion-button fill="clear" color="success" (click)="onFavouriteButtonClicked()">
      <ion-icon [name]="note.isFavourite ? 'heart' : 'heart-outline'"></ion-icon>
    </ion-button>
    <ion-button [id]="'delete-button' + note.id" fill="clear" color="danger">
      <ion-icon name="close-circle-outline"></ion-icon>
    </ion-button>
    <ion-button fill="clear" (click)="onEditNoteButtonClicked()">
      <ion-icon name="create-outline"></ion-icon>
    </ion-button>
  </ion-row>
</ion-card>

<app-delete-confirmation
  title='Are you sure you want to delete the note with title "{{getNoteTitlePreview()}}"?'
  [triggerButtonId]="'delete-button' + note.id"
  (confirmationClosed)="onDeleteNotesConfirmationClosed($event)"
></app-delete-confirmation>
