<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Offline mode</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-row class="ion-justify-content-center ion-margin">
    <ion-label class="ion-text-center no-connection-label">
      It looks like your device has lost connection
    </ion-label>
  </ion-row>
  <ion-row class="ion-justify-content-center ion-margin">
    <ion-text>
      In offline mode, you can access your favourite notes, which are automatically saved when you are connected.
    </ion-text>
  </ion-row>

  <app-notes-grid
    [notes]="favouriteNotes"
    displayOption="favourites"
    [notesAreEditable]="false"
  ></app-notes-grid>

  <ion-fab *ngIf="favouriteNotes" vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button
      class="ion-margin-bottom"
      color="tertiary"
      (click)="changeNotesOrder()"
      [disabled]="favouriteNotes.length < 2"
    >
      <ion-icon name="swap-vertical"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
