<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Offline mode</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="onInformationButtonClicked()">
        <ion-icon slot="icon-only" name="help-circle-outline" color="dark"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-row class="ion-justify-content-center ion-margin">
    <ion-label class="ion-text-center no-connection-label">
      Favourite notes
    </ion-label>
  </ion-row>

  <app-notes-grid
    [notes]="favouriteNotes"
    displayOption="favourites"
    [notesAreEditable]="false"
  ></app-notes-grid>

  <ion-fab *ngIf="favouriteNotes" vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button
      class="ion-margin-bottom"
      color="tertiary"
      (click)="changeNotesOrder()"
      [disabled]="favouriteNotes.length < 2"
    >
      <ion-icon name="swap-vertical"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
